<%- include('./includes/header') %>
    <link rel="stylesheet" href="/styles/main.css">
    </head>
    <!-- 刻意留在這，這樣就可以自由再加上其他的link -->

    <body>
        <div class="container">
            <div class="alert alert-danger mt-5" role="alert">
                <h1>Oops! page not found:(</h1>
            </div>
        </div>
    </body>

    </html>